<header class="container">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">REMI</a>
		</div>
	</nav>

	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/database/list">Databases</a></li>
		<li><a href="/database/view/{{session.database}}">Tables</a></li>
		<li class="active">aoeu</li>
	</ol>
</header>
