<header class="container">
	<div class="page-header">
		<h1>REMI <small>Ross' Enticing MySQL Interface</small></h1>
	</div>

	<div class="clearfix">
		<a href="/query" class="pull-right">Query</a>
	</div>

	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>

		{{#if session.databases}}
			<li>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{{#if state.database}}
							{{state.database}}
						{{else}}
							Databases
						{{/if}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/">List Databases</a></li>
						<li class="divider"></li>
						{{#each session.databases}}
							<li {{#iff this "is" ../state.database}}class="active"{{/iff}}><a href="/{{this}}">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</li>

			{{#if session.tables}}
				<li>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{#if state.table}}
								{{state.table}}
							{{else}}
								Tables
							{{/if}}
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/{{state.database}}">List Tables</a></li>
							<li class="divider"></li>
							{{#each session.tables}}
								<li {{#iff Name "is" ../state.table}}class="active"{{/iff}}><a href="/{{../state.database}}/{{Name}}">{{Name}}</a></li>
							{{/each}}
						</ul>
					</div>
				</li>
			{{/if}}
		{{/if}}
	</ol>
</header>
