<!DOCTYPE html>
<html>
	<head>
		<title>{{server.name}} | {{action}} {{controller}} {{id}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/main.css">
		{{{block "styles"}}}
	</head>

	<body>
		{{{include "header"}}}

		<div id="main" class="container" role="main">
			{{{body}}}
		</div>

		<script>
			window.CS = {{{json exposed}}};
		</script>

		<script src="/js/lib/jquery.min.js"></script>
		<script src="/js/lib/bootstrap.min.js"></script>
		<script src="/js/lib/handlebars.min.js"></script>
		{{{block "scripts"}}}
	</body>
</html>
