{{#extend "scripts"}}
	<script src="/js/lib/keyboard.min.js"></script>
	<script src="/js/views/query/run.js"></script>
{{/extend}}

{{#if database}}
	<div class="alert alert-info">Using database <code>{{database}}</code>.</div>
{{/if}}

<textarea id="query" name="query" class="form-control" rows="8">{{#if table}}SELECT * FROM {{table}};{{/if}}</textarea>

<div class="text-center">
	<button id="run" class="btn btn-primary">
		<span class="glyphicon glyphicon-road"></span>
		Run
	</button>
</div>

<div id="results">
	<script id="tableTemplate" type="text/html">
		{{{include "partials/table" inline=true}}}
	</script>
</div>
